/* @font-face { font-family: 'SDKukdetopokki'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDKukdetopokki.woff') format('woff'); font-weight: normal; font-style: normal; } */
@font-face { font-family: 'KBIZHanmaumMyungjo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff'); font-weight: normal; font-style: normal; }


.section01{
    /* background: #000; */
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.main_img{
    background: url('../img/sososo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 86.5vh;
    width: 100%;
    padding-top: 40px;
}
.main_txt_bg{
    background: #ccc;
    opacity: 0.6;
    width: 100%;
    height: 30vh;
}
.main_img_title{
    height: 40%;
    padding-bottom: 70px;
    background-color: rgba(34, 32, 32, 0.301);
}
.main_letter1{
    font-size: 50px;
    text-align: center;
    color: rgb(44, 44, 44);
    font-family: 'KBIZHanmaumMyungjo'; 
    font-weight: 800;
    padding-top: 2%;
    letter-spacing: 20px;
}
.main_letter2{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'KBIZHanmaumMyungjo'; 
    font-weight: 800;
}

.main_letter3{
    font-size: 20px;
    text-align: center;
    color: rgb(226, 225, 225);
    font-family: 'KBIZHanmaumMyungjo'; 
    font-weight: 500;
}

.main_icon{
    padding: 1% 0;
    background: #ccc;
}
.row>.col-sm-12{
    color: #fff;
}
.main_icon_txt1{
    border-right: solid rgb(167, 167, 167) 1px;
    
}
.main_icon_txt2{
    border-right: solid rgb(167, 167, 167) 1px;
}
.main_icon_txt3{
    border-right: solid rgb(167, 167, 167) 1px;
}


.main_icon .col-sm-3 .col-sm-12{
    color: #242424;
}

.logo_box img{
    width: 200px;
    margin-top: -2%;
    margin-left: 0.5%;
}
/* .container>.row{
    z-index: 99;
} */